html {
    height: 100%;
    min-height: 100%;
}
body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222
}
.navbar {
    display: inline;
    padding: 6px;
}
#topleft {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}
a {
    text-decoration: none;
}
#topright {
   float: right;
   padding: 5px;
   margin: 0 5px;
   color: #222;
}
.mainlogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10%;
    margin-bottom: 50%;

}
form{
    margin:auto;
}
form input {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    height: 44px;
    width: 500px;
    padding: 0px, 40px;
    

}
div input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 10px;
    border: 5px solid rgb(236, 235, 235);
}
#bottomleft {
    float: left;
    padding-left: 20px;
}
#bottomright {
    float: right;
    padding-right: 20px;
}
