#topleft { 
    display:inline;
    float: left;


}

#topright {
    display:inline;
    float: right;

}
.navbar {
    
}
.mainlogo {
    display: inline;
    
    
}

.footerdiv {
    list-style-type: none;

}
#bottomleft {

}
#bottomright {

}
#bottomcenter {

}

body {
    font-family: sans-serif, Arial;
    font-size: 14px; 
}
